.ui-inputfield, .ui-inputtext {
	margin: 4px;
}

.input-text {
	margin: 4px;
}

.menuTopo {
	background: none !important;
	border: none !important;
	margin-left: auto !important;
}

.botao-login {
	margin: 10px 0px;
}

.erro-login {
	margin: 5px 0px;
	padding: 10px 10px 10px 50px;
	color: #D8000C;
}

.menu-cadastro {
	margin-top: 50px;
}

.loading-dialog {
	left: 0px !important;
    top: 0px !important;
}

.terminal {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.8em;
    color: #ffffff;
    background-color: #000000;
}

.fieldSet .ui-fieldset-legend {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #e5e5e5;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #ffffff;
    display: block;
    font-size: 16px;
    text-shadow: none;
    line-height: inherit;
    margin-bottom: 20px;
    padding: 5px;
    width: 100%;
    background: #337ab7;
}

form#formUsuario .ui-fieldset {

}

.blink_me {
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: 5;
	-moz-animation-name: blinker;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: 5;
	animation-name: blinker;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: 5;
}

@
-moz-keyframes blinker { 0% {
	opacity: 1.0;
}

50%
{
opacity


:

 

0
.0


;
}
100%
{
opacity


:

 

1
.0


;
}
}
@
-webkit-keyframes blinker { 0% {
	opacity: 1.0;
}

50%
{
opacity


:

 

0
.0


;
}
100%
{
opacity


:

 

1
.0


;
}
}
@
keyframes blinker { 0% {
	opacity: 1.0;
}
50%
{
opacity


:

 

0
.0


;
}
100%
{
opacity


:

 

1
.0


;
}
}




